<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<% if @follow %>
	<%= link_to "Unfollow", follow_path(@follow), method: :delete%>
<% elsif current_user != @user %>
	<%= link_to "Follow", follows_path(user_id: @user.id), method: :post%>
<% end %>

<h3>My Comments</h3>

<% if current_user.comments.first %>
<% @user.comments.each do |comment|%>
  	<p><%= link_to comment.content, edit_comment_path(comment)%></p>	
<% end %>
<% else %>
<h4>No comment yet</h4>
<% end %>

<h3>Followed Comments</h3>
<% @user.followed_users_comments.each do |c| %>
	<p><%= c.content%></p>
	<p><%= link_to c.user.name, user_path(c.user)%></p>
<% end %>

