<h1> CourseName: <%= @course.courseNumber%> <%= @course.title%> </h1>
<h4> <%= @course.department %> </h4>
<p> <%= @course.description %> <p/>
<h2>New Comment:</h2>
<%= simple_form_for Comment.new, :url => comments_path(@course) do |f| %>
  <%= f.input :content %>
  <%= f.input :instructor %>
  <%= f.input :semester %>
  <%= f.hidden_field :course_id, :value => @course.id%>
  <br>
  <%= f.button :submit %>
<% end %>

<h2>Comments:</h2>
<% @comments.each do |c|%>
<h3><%= link_to "#{c.user.name}", user_path(c.user_id) %></h3>
<h5> Instructor: <%= c.instructor%></h5>
<h5> Semester: <%= c.semester%></h5>
<p> Content: <%= c.content%></p>
------------------------
<% end %>

