<h1> CourseName: <%= @course.courseNumber%> <%= @course.title%> </h1>
<h4> <%= @course.department %> </h4>
<p> <%= @course.description %> <p/>
<% if @follow %>
	<p style="text-align:center;"><%= link_to "Unfollow", coursefollow_path(@follow), method: :delete%></p>
<% else%>
	<p style="text-align:center;">
	<%= link_to "Follow", coursefollows_path(course_id: @course.id), method: :post%>
	</p>
<% end %>

<h2>New Comment:</h2>
<%= simple_form_for Comment.new, :url => comments_path(@course) do |f| %>
  <%= f.input :content %>
  <%= f.input :instructor %>
  <%= f.input :semester %>
  <%= f.hidden_field :course_id, :value => @course.id%>
  <br>
  <%= f.button :submit %>
<% end %>

<h2>Comments:</h2>
<% @comments.each do |c|%>
<h3><%= link_to "#{c.user.name}", user_path(c.user_id) %></h3>
<h5> Instructor: <%= c.instructor%></h5>
<h5> Semester: <%= c.semester%></h5>
<p>
Content: "<%= c.content%>" 
<% if current_user == nil%>
  <% flash[:error] = @course.errors.full_messages.to_sentence %>
<% else %> 
  <% if current_user.is_admin %>
    <%= link_to "Delete", comment_path(c), method: :delete%>
<% end %>
<% end %>
</p>
------------------------
<% end %>
